.register-form {
  border: 2px solid #ccc;
  width: 500px;
  margin: 20px auto 0;
}

.sub-text {
  text-align: center;
  margin-bottom: 5px;
}

.full-width-button {
  width: 80%;
  margin: 1px 10%;
}
