<form #registerForm="ngForm" class="register-form form-group" novalidate>
  <md-toolbar>
    Register
  </md-toolbar>
  <div class="error-text" *ngIf="error">
    {{error}}
  </div>
  <md-input-container class="full-width">
    <input mdInput placeholder="E-mail" type="email" name="email" email ngModel #emailInput="ngModel" required>
  </md-input-container>
  <div [hidden]="emailInput.valid || emailInput.pristine" class="full-width danger">
     Please enter a valid email.
  </div>
  <md-input-container class="full-width">
    <input mdInput placeholder="Password" type="password" name="password" ngModel #password="ngModel" minlength="6" required>
  </md-input-container>
  <div [hidden]="password.valid || password.pristine" class="full-width danger">
     Password must be at least 6 characters.
  </div>

  <div class="full-width">
    <md-checkbox color="primary" name="tos" ngModel required>I agree to the Terms of Use and Privacy Policy</md-checkbox>
  </div>

  <button md-button type="submit" class="full-width-button" [disabled]="!registerForm.valid" (click)="registerWithEmail(registerForm.value)">Register</button>
  <button md-button class="full-width-button google" (click)="registerWithGoogle()">Register with Google</button>
  <div class="sub-text">
    Already have an account? <button md-button (click)="goToLogin()">Login</button>
  </div>
</form>
