<form #loginForm="ngForm" class="login-form" *ngIf="!registering">
  <md-toolbar class="centered">
    Login
  </md-toolbar>
  <div class="error-text" *ngIf="error">
    {{error}}
  </div>
  <md-input-container class="full-width">
    <input mdInput placeholder="E-mail" type="email" name="email" ngModel required>
  </md-input-container>
  <md-input-container class="full-width">
    <input mdInput placeholder="Password" type="password" name="password" ngModel required>
  </md-input-container>
  <div class="full-width sub-text">
    Forgot your password?
    <button md-button class="link-button" (click)="resetPassword()">
      Click here to reset it.
    </button>
</div>


  <button md-button type="submit" class="full-width-button" [disabled]="!loginForm.valid" (click)="login(loginForm.value)">Login</button>
  <button md-button class="full-width-button google" (click)="loginWithGoogle()">Login with Google</button>
  <div class="sub-text">
    Need an account? <button md-button (click)="goToRegistration()">Register</button>
  </div>
</form>
<registration-form *ngIf="registering" (close)="registering = false"></registration-form>
