<h1 md-dialog-title>Reset Password</h1>
<div md-dialog-content>
  <p>Sorry you're having trouble logging in.</p>
  <p>Please enter your account email below to reset your password.</p>
</div>
<md-input-container class="full-width">
  <input mdInput [(ngModel)]="data.email">
</md-input-container>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="data.email">Reset</button>
  <button md-button md-dialog-close>Cancel</button>
</div>
