<div class="contract-table-container mat-elevation-z8" *ngIf="!editingContract">

  <md-table #table [dataSource]="dataSource" class="contract-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Contract Column -->
    <ng-container cdkColumnDef="contract">
      <cdk-header-cell *cdkHeaderCellDef class="contract-table-header-cell"> Contract </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="contract-table-cell"> {{row.contract}} </cdk-cell>
    </ng-container>

    <!-- Client Column -->
    <ng-container cdkColumnDef="client">
      <cdk-header-cell *cdkHeaderCellDef class="contract-table-header-cell"> Client </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="contract-table-cell"> {{row.client}} </cdk-cell>
    </ng-container>

    <!-- Positions Column -->
    <ng-container cdkColumnDef="positionsAvailable">
      <cdk-header-cell *cdkHeaderCellDef class="contract-table-header-cell"> Positions Available </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="contract-table-cell"> {{row.positions.length}} </cdk-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container cdkColumnDef="actions">
      <cdk-header-cell *cdkHeaderCellDef class="contract-table-header-cell"> </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="contract-table-cell">
        <button md-button class="action-button edit" (click)="editContract(row.$key)"><i class="material-icons">edit</i> Edit</button>
        <button md-button class="action-button close-out" (click)="closeContract(row.$key)"><i class="material-icons">check_circle</i> Close Out</button>
      </cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="tableHeaders" class="contract-table-header-row"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: tableHeaders;" class="contract-table-row"></cdk-row>
  </md-table>

  <md-paginator #paginator
                [length]="(contracts | async)?.length"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
</div>

<create-contract *ngIf="editingContract" [contractID]="contractID" (close)="editingContract = false"></create-contract>
