/* Structure */
.contract-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

/*
 * Styles to make the demo's cdk-table match the material design spec
 * https://material.io/guidelines/components/data-tables.html
 */
.contract-table {
  flex: 1 1 auto;
  overflow: auto;
  max-height: 500px;
}

.contract-table-header-row, .contract-table-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  height: 32px;
  padding: 0 8px;
}

.contract-table-cell, .contract-table-header-cell {
  flex: 1;
}

.contract-table-header-cell {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}

.contract-table-cell {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.action-button {
  font-size: 12px;
  line-height: inherit;
  height: 25px;
}

.action-button .material-icons {
  font-size: 15px;
}

.edit {
  color: white;
  background-color: #f4c20d;
}

.close-out {
  color: white;
  background-color: #3cba54;
}
