<md-toolbar class="flex-container">
  <button md-button *ngIf="user?.uid" (click)="logout()" id="logout-button">Logout</button>
  <span [ngClass]="{'title-centered': !user?.uid, 'title-initial': user?.uid && !creatingContract, 'title-right-margin': creatingContract}">{{title}}</span>
  <span class="view-modes" *ngIf="user?.uid && !creatingContract">
    <!--
    <button md-button class="secondary" title="List View"><i class="material-icons">view_list</i></button>
    <button md-button class="secondary" title="Grid View"><i class="material-icons">view_module</i></button>
  -->
    <button md-button class="primary" (click)="newContract()" title="Create a New Contract"><i class="material-icons">add</i> New Contract</button>
  </span>
</md-toolbar>

<div *ngIf="!finished" class="spinner-container"
     fxLayout="column"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
  <md-spinner mode="indeterminate"></md-spinner>
</div>
<div *ngIf="finished">
  <login-form *ngIf="!user?.uid"></login-form>
  <div *ngIf="user?.uid">
    <landing-page *ngIf="!creatingContract"></landing-page>
    <create-contract *ngIf="creatingContract" (close)="creatingContract = false"></create-contract>
  </div>
</div>
