.spinner-container {
  height: 500px;
}

.title-centered {
  margin: auto;
}

.title-initial {
  margin: auto;
  /*margin-right: initial;*/
}

.title-right-margin {
  margin-right: auto;
}

#logout-button {
  margin-right: auto;
  background-color: #cc0000;
  color: white;
}

.view-modes {
  margin-left: auto;
}
