<h1 md-dialog-title>Cancel Creation</h1>
<div md-dialog-content>Are you sure you want to cancel? All the information you've entered will be lost.</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="true">Yes</button>
  <button md-button md-dialog-close="false">Cancel</button>
</div>
