.contract-form {
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
}

.contract-actions {
  margin-left: auto;
}

.form-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding-top: 5px;
}

.add-row,
.remove-row {
  cursor: pointer;
}

.positions-table {
  width: 72%;
  margin: auto;
}

.position-details {
  height: 60px;
}

.right-aligned {
  text-align: right;
  padding: 0;
}

.mat-input-fix {
  padding-bottom: 0;
}
