<div *ngIf="loading" class="spinner-container"
     fxLayout="column"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
  <md-spinner mode="indeterminate"></md-spinner>
</div>

<form #contractForm="ngForm" class="contract-form" *ngIf="!loading">
  <md-toolbar class="centered">
    {{ editingContract ? "Editing Contract" : "New Contract" }}
    <span class="contract-actions">
      <button md-button class="danger" (click)="confirmCancel()">Cancel</button>
      <button md-button class="primary" *ngIf="!editingContract" [disabled]="contractForm.invalid" (click)="createContract(contractForm.value)">Create Contract</button>
      <button md-button class="add" *ngIf="editingContract" [disabled]="contractForm.invalid" (click)="saveContract(contractForm.value)"><i class="material-icons">save</i>Save</button>
    </span>
  </md-toolbar>
  <div *ngIf="error" class="error-text">
    {{ error }}
  </div>
  <md-input-container class="full-width">
    <input mdInput placeholder="Client" type="text" name="client" ngControl="client" ngModel required>
  </md-input-container>

  <md-input-container class="full-width">
    <textarea mdInput placeholder="Contract Details" name="contract" ngModel required></textarea>
  </md-input-container>

  <div class="form-section full-width">
    Positions
    <span class="add-position-action add">
      <i title="Add New Position" class="material-icons add-row" (click)="addPosition()" color="secondary">add_circle</i>
    </span>
  </div>


</form>

<!-- Position Details -->
<table class="positions-table" cellspacing="0" *ngIf="!loading">
  <tr class="position-row" *ngFor="let position of positions; let idx = index">
    <td>
      <md-input-container class="position-details">
        <input mdInput [(ngModel)]="position.title" placeholder="Title">
      </md-input-container>
    </td>
    <td>
      <md-input-container class="position-details">
        <input mdInput [(ngModel)]="position.hours" type="number" placeholder="Hours">
      </md-input-container>
    </td>
    <td>
      <md-input-container class="position-details">
        <input mdInput [(ngModel)]="position.rate" maxlength="12" type="number" placeholder="Rate">
      </md-input-container>
    </td>
    <td>
      <md-input-container class="position-details with-dp">
        <input mdInput [(ngModel)]="position.startDate" type="date" placeholder="Start Date">
      </md-input-container>
    </td>
    <td>
      <md-input-container class="position-details with-dp">
        <input mdInput [(ngModel)]="position.endDate" type="date" placeholder="End Date">
      </md-input-container>
    </td>
    <td class="right-aligned">
      <i title="Remove Position" class="material-icons danger remove-row" (click)="removePosition(idx)">clear</i>
    </td>
  </tr>
</table>
