<div *ngIf="!finished" class="spinner-container"
     fxLayout="column"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
  <md-spinner mode="indeterminate"></md-spinner>
</div>

<div *ngIf="finished">
  <!-- Empty State -->
  <div *ngIf="!contracts.length" class="empty-state">
    You have no contracts to display. Click "New Contract"  to create a new one.
  </div>
  <!-- Table View -->
  <table-view *ngIf="contracts.length"></table-view>
  <!-- Grid View -->
</div>
