/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-width {
  width: 80%;
  margin-left: 10%;
}

.primary {
  color: #4885ed;
}

button.primary {
  background-color: #4885ed;
  color: white;
}
.secondary {
  color: #f4c20d;
}

button.secondary {
  color: #f4c20d;
  /*min-width: 25px;*/
}

.add {
  color: #3cba54;
}

.danger {
  color: #cc0000;
}

button.danger {
  color: #cc0000;
}

.error-text {
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #cc0000;
}

/* Google */
button.google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  box-sizing: border-box;
  /* width: 13em;  - apply for fixed size */
  padding: 0 15px 0 46px;
  border: none;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  background-color: #DD4B39;
  color: white;
}
button.google:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
button.google:hover,
button.google:focus {
  background: #E74B37;
}

button.link-button {
  color: #4885ed;
  line-height: 1;
  font-size: 12px;
  padding: 0;
}

.sub-text {
  font-size: 14px;
}
